<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SampleTestSuite" parallel="false">

    <!-- Define a test -->
    <test name="LoginTest">

    	<!-- parameter name="url" value="https://rahulshettyacademy.com/AutomationPractice/" / -->
    	<parameter name="url" value="https://rahulshettyacademy.com/loginpagePractise/" />
    	<parameter name="username" value="rahulshettyacademy" />
    	<parameter name="password" value="learning" />
    	<groups>
    	<run>
    		<include name="Smoke"></include>
    	</run>
    </groups>
    	
        <classes>
            <!-- Specify the test classes -->
            <class name="Test_with_TestNG.E_Commerce" />
            <class name="Test_with_TestNG.LoginTest"></class>
        </classes>
    </test>


</suite>